<div ng-include="'partials/navbar.html'"></div>


    <div class="row">
        <form class="form form-signin" name="form" ng-submit="ctrl.login(form, user)" novalidate role="form">
        <div class="col-xs-12 col-sm-12 col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Log in</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6 separator social-login-box"> <br />
                            <a href="/auth/facebook" class="btn facebook btn-block" target="_self" role="button">Log in using Facebook</a>
                            <br />
                            <a href="#" class="btn twitter btn-block" role="button">Log in using Twitter</a>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6 login-box">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                                <input type="email" class="form-control" placeholder="Email address" required autofocus ng-model="user.email" name="email">
                            </div>
                            <div class="input-group">
                                <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                                <input type="password" class="form-control" placeholder="Password" required ng-model="user.password" name="password">
                            </div>
                            <div class="form-group has-error">
                                <p class="help-block" ng-show="form.email.$error.required && form.password.$error.required && ctrl.isSubmitted()" id="formErrorEmpty">
                                Please enter your email and password.
                                </p>
                                <p class="help-block" ng-show="form.email.$error.email && ctrl.isSubmitted()" id="formErrorEmail">
                                Please enter valid email
                                </p>
                                <p class="help-block" id="formError" ng-show="ctrl.getErrors()">{{ ctrl.getErrors() }}</p>
                            </div>
                            <p>
                                <a href="#">Lost your password?</a></p>
                            Don't have an account? <a href="/signup" class="new-account">Sign up here</a>
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="Remember">
                                    Remember me
                                </label>
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <button class="btn btn-lg btn-primary btn-block" type="submit" id="signinBtn">Sign in</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
        </div>
