    <div ng-include="'partials/navbar.html'"></div>

    <div class="row">

        <!-- FACEBOOK INFORMATION -->
        <div class="col-sm-6">
            <div class="well">
                <h3 class="text-primary"><span class="fa fa-facebook"></span> Facebook</h3>

                    <p>
                        <strong>id</strong>:  {{currentUser.facebook.id}} <br>
                        <strong>token</strong>: {{currentUser.facebook.token}} <br>
                        <strong>email</strong>:  {{currentUser.facebook.email}} <br>
                        <strong>name</strong>:  {{currentUser.facebook.name}}
                    </p>

            </div>
        </div>

    </div>
