<!-- views/partials/main.html -->
<div ng-include="'partials/navbar'"></div>

<section id="todoapp">
  <header id="header">
    <h1>todos</h1>
    <form name="addForm" ng-submit="todos.add(addForm, todo)" id="add-form">
      <input id="new-todo" placeholder="What needs to be done?" ng-model="todo.title" autofocus="" ng-required="true">
    </form>
  </header>

  <section id="main" ng-show="todos.todos.length">
    <input id="toggle-all" type="checkbox" ng-model="allChecked" ng-click="todos.markAll(allChecked)">
    <label for="toggle-all">Mark all as complete</label>
    <ul id="todo-list">
      <li ng-repeat="(id, todo) in todos.todos | filter:todos.statusFilter track by $index" ng-class="{completed: todo.completed, editing: todos.checkOriginalTodo(todo)}">
        <div class="view">
          <input class="toggle" type="checkbox" ng-model="todo.completed" ng-change="todos.doneEditing(todo)">
          <label ng-click="todos.edit(todo)">{{todo.title}}</label>
          <button class="destroy" ng-click="todos.delete(todo)"></button>
        </div>
        <form ng-submit="todos.doneEditing(todo)">
          <input class="edit" ng-model="todo.title" ng-blur="todos.doneEditing(todo)" bind-key="todos.revertEditing(todo)" key="27" todo-focus="todos.checkOriginalTodo(todo)" ng-required="true">
        </form>
      </li>
    </ul>
  </section>

  <footer id="footer" ng-show="todos.todos.length">
    <span id="todo-count"><strong>{{todos.remainingCount()}}</strong>
      <ng-pluralize count="todos.remainingCount()" when="{ one: 'item left', other: 'items left' }"></ng-pluralize>
    </span>
    <ul id="filters">
      <li>
        <a ng-class="{selected: todos.status == ''} " ng-click="todos.filter('')" id="filter-all">All</a>
      </li>
      <li>
        <a ng-class="{selected: todos.status == 'active'}" ng-click="todos.filter('active')" id="filter-active">Active</a>
      </li>
      <li>
        <a ng-class="{selected: todos.status == 'completed'}" ng-click="todos.filter('completed')" id="filter-completed">Completed</a>
      </li>
    </ul>
    <button id="clear-completed" ng-click="todos.archive()" ng-show="todos.completedCount()">Clear completed ({{todos.completedCount()}})</button>
  </footer>
</section>
